{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create entry
{% endblock %}

{% block body %}
    <h1>Create your entry</h1>
    
    <form action="{% url 'save-entry' %}" method="POST"> {% csrf_token %}
        <div style="margin: 24px 0px;">
            <label for="">Title</label><br>
            <input type="text" name="title">
        </div>
        <div style="margin: 24px 0px;">
            <label for="">Content</label><br>
            <textarea name="content" rows="10"></textarea>
        </div>
        <input type="submit" value="Save">
    </form>

{% endblock %}